table {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.heading {
  color: rgb(71, 54, 33);
}

.head-row {
  background-color: rgb(71, 54, 33);
  color: white;
}

.th-row,
.row {
  font-family: "Lato";
}

.th-row {
  padding: 20px;
  font-weight: 700;
}

.row {
  text-align: left;
  background-color: rgb(247, 207, 159);
  padding: 10px;
}
